{%extends "base.html"%}
{%block content%}
	<h3>{{pelicula.titulo|capfirst}}</h3>
	<p>Director: {{pelicula.director}}</p>
	<p>Actor principal: {{pelicula.actor_principal}}</p>
	<p>Actriz principal: {{pelicula.actriz_principal}}</p>
	<p>Genero: {{pelicula.genero}}</p>
	<p>Pais: {{pelicula.pais}}</p>
	<p>Fecha de estreno: {{pelicula.fecha_estreno|date:"d M Y"}}</p>
	{%if pelicula.premios.all%}
		<p>Premios:</p>
		<ul>{%for premio in pelicula.premios.all%}<li>{{premio.premio}}</li>{%endfor%}</ul>
	{%endif%}
{%endblock%}
