{% load static %}
<html>
    <head><title>Cineteca</title></head>
    <body class="wide">
        <header>
            <h1 id="site-title"><a href="/" title="Cineteca" rel="home">Cineteca</a></h1>
            <p>Ejemplo para el curso de Python.</p>
        </header>
        <p>Ejemplo de cineteca con listado de peliculas, director, actor principal, fecha de estreno, premios conseguidos, etcetera.</p>
        <hr>{% block content %}{% endblock %}</hr>
        <footer id="colophon">Este ejemplo de cineteca ha sido realizado para ilustrar el uso de Django como herramienta basada en Python.</footer>
    </body>
</html>
